@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap');



body {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

@keyframes header-background {
    0% {
        background: #69b7eb;
    }
    25% {
        background: rgb(133, 204, 92);
    }
    50% {
        background: #3fceb1;
    }
    75% {
        background: rgb(228, 196, 137);
    }
    100% {
        background: #69b7eb;
    }
}

header {
    font-family: 'Lato', sans-serif;
    animation: header-background 10s ease infinite;
}

main {
    padding: 16px;
    margin-bottom: 20px;
}
.list {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

footer {
    position: relative;
    padding: 24px;
    animation: header-background 10s ease infinite;
}

img {
    height: 200px;
}

nav {
    padding: 16px;
    border-bottom: 1px solid black;
}

nav a:visited {
    /* color: rgb(231, 93, 93); */
    color: azure;
}

a {
    text-decoration: none;
}

a:hover {
    color: green;
}

tr:nth-child(even) {
    background-color: lightgray;
}

